<div class="w-full">
    <div class="bg-gray-950 text-gray-800 w-full h-1/2 shadow-lg p-6">
        <div class="flex justify-around">
            <div class="flex flex-col" *ngFor="Let item of category[selectedSection].section">
                <h1 class="text center">{{ item.name}}</h1>
                <button mat-button *ngFor="let section of item.item">
                    {{ section.name}}
                </button>
                           
            </div>
            <div>
                <div class="hidden lg:block">
                    <div class="" src="" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isNavbarContentopen" class="model-container">

    <app-nav-content [selectedSection] ="currentSection"/>

</div>