div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style the main carousel */
app-main-carousel {
    /* Add your styles for the main carousel here */
    margin-bottom: 20px; /* Example margin for spacing */
}

/* Style the product sliders */
app-product-slider {
    /* Add your styles for the product sliders here */
    width: 100%; /* Example to make the sliders take full width */
    margin-bottom: 20px; /* Example margin for spacing between sliders */
}