<div id="logo">
    <img src="assets/images/ogo.jpeg" alt="logo">
</div>
<div>
    <input type="text" ng-model="searchText" placeholder="Search...">

</div>

<body ng-controller="DropdownController">

    <select ng-model="selectedItem" ng-options="item.name for item in dropdownItems">
        <option value="">Select an item</option>
    </select>

    <p>You selected: </p>

</body>

<div>
    <button>Login</button>
    <button>SignUp</button>

</div>
<script>
    var app = angular.module('myApp', []);

    app.controller('DropdownController', function($scope) {
        $scope.dropdownItems = [
            { id: 1, name: 'Men' },
            { id: 2, name: 'Women' },
            { id: 3, name: 'Kids' }
        ];
    });
</script>