<div id="logo">
    <img src="assets/images/ogo.jpeg" alt="logo">
</div>
<div>
    <input type="text" ng-model="searchText" placeholder="Search...">

</div>

<body ng-controller="DropdownController">

    <select ng-model="selectedItem" ng-options="item.name for item in dropdownItems">
        <option value="">Select an item</option>
    </select>

    <p>You selected: </p>

</body>

<div>
    <button>Login</button>
    <button>SignUp</button>

</div>
<body ng-controller="LoginController">

    <button ng-click="openLoginModal()">Open Login Modal</button>

    <div id="loginModal" class="modal" ng-show="isModalOpen">
        <div class="modal-content">
            <span class="close" ng-click="closeLoginModal()">&times;</span>
            <h2>Login</h2>
            <form id="loginForm" ng-submit="handleLogin()">
                <label for="username">Username:</label><br>
                <input type="text" id="username" ng-model="username" required><br><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" ng-model="password" required><br><br>
                <button type="submit">Login</button><br>
            </form>
        </div>
    </div>
</body>
<script>
  
    var app = angular.module('myApp', []);

    app.controller('DropdownController', function($scope) {
        $scope.dropdownItems = [
            { id: 1, name: 'Men' },
            { id: 2, name: 'Women' },
            { id: 3, name: 'Kids' }
        ];
    });
  app.controller('LoginController', function($scope) {
            $scope.isModalOpen = false;
            $scope.username = '';
            $scope.password = '';

            $scope.openLoginModal = function() {
                $scope.isModalOpen = true;
            };

            $scope.closeLoginModal = function() {
                $scope.isModalOpen = false;
            };

            $scope.handleLogin = function() {
                // Handle login logic here
                console.log('Username:', $scope.username);
                console.log('Password:', $scope.password);

                // Close modal after login
                $scope.isModalOpen = false;

                // Optionally, you can reset the username and password fields
                $scope.username = '';
                $scope.password = '';
            };
        });
</script>
