<h1>Welcome to HappyFeet</h1>
<head>
    
</head>
<body>
    <nav>
        <a href="#">Home</a>
        <div class="dropdown">
            <a href="#">Men</a>
            <div class="dropdown-content">
                <a href="#">Casual Shoes</a>
                <a href="#">Sports Shoes</a>
                <a href="#">Low-tops Shoes</a>
                <a href="#">Formals Shoes</a>
            </div>
        </div>
    
        <a href="#">Women</a>
        <a href="#">Kids</a>
        <a href="#">Contact</a>
    </nav>
</body>
