<div class="bg-black text-white mt-10 text-center px-5 lg:px-20">
    <div class="container">
        <div class="py-3 flex justify-between">
            <div class="px-4">
                <h3 class="px-5 text-lg font-semibold"> Useful Links</h3>
                <div class="mt-4">
                    <ul class="list-none">
                        <li class="mb-2"><a href="#" class="text-gray-300 hover:text-white">About</a></li>
                        <li class="mb-2"><a href="#" class="text-gray-300 hover:text-white">Blog</a></li>
                        <li class="mb-2"><a href="#" class="text-gray-300 hover:text-white">Partners</a></li>
                        <li class="mb-2"><a href="#" class="text-gray-300 hover:text-white">Contact</a></li>
                        <li class="mb-2"><a href="#" class="text-gray-300 hover:text-white">FAQs</a></li>
                    </ul>
                </div>
                <div class="px-4">
                    <h3 class="px-5 text-lg font-semibold"> Useful Links</h3>
                    <div class="mt-4">
                        <ul class="list-none">
                            <li class="mb-2"><a href="#" class="text-gray-300 hover:text-white">Solutions</a></li>
                            <li class="mb-2"><a href="#" class="text-gray-300 hover:text-white">Analytics</a></li>
                            <li class="mb-2"><a href="#" class="text-gray-300 hover:text-white">Marketing</a></li>
                            <li class="mb-2"><a href="#" class="text-gray-300 hover:text-white">Insights</a></li>
                        </ul>
                    </div>
                    
            </div>
        </div>
    </div>
</div>
